In [1]:
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

WARNING:tensorflow:From C:\Program Files\Python311\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
## נתונים של שבץ מוחי
df = pd.read_csv('./data/healthcare-dataset-stroke-data.csv')
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [4]:
df.fillna(df.mean(numeric_only= True), inplace = True)

In [5]:
df.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [6]:
from sklearn.preprocessing import OrdinalEncoder

oe = OrdinalEncoder()
oe.fit(df.loc[:, ['gender', 'ever_married','work_type', 'Residence_type', 'smoking_status']].values)
df.loc[:, ['gender', 'ever_married','work_type', 'Residence_type', 'smoking_status']] = oe.transform(df.loc[:, ['gender', 'ever_married','work_type', 'Residence_type', 'smoking_status']])

C:\Program Files\Python311\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but OrdinalEncoder was fitted without feature names
  warnings.warn(

In [7]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,1.0,2.0,1.0,228.69,36.600000,1.0,1
1,51676,0.0,61.0,0,0,1.0,3.0,0.0,202.21,28.893237,2.0,1
2,31112,1.0,80.0,0,1,1.0,2.0,0.0,105.92,32.500000,2.0,1
3,60182,0.0,49.0,0,0,1.0,2.0,1.0,171.23,34.400000,3.0,1
4,1665,0.0,79.0,1,0,1.0,3.0,0.0,174.12,24.000000,2.0,1

In [8]:
X_columns='id','gender', 'age', 'hypertension','heart_disease','ever_married','work_type','Residence_type','avg_glucose_level','bmi','smoking_status'
y=df.stroke
scaler = StandardScaler()
scaler.fit(df.loc[:, X_columns])
X = scaler.transform(df.loc[:, X_columns])

In [9]:
X[1]

array([ 7.16371490e-01, -8.40343999e-01,  7.86070073e-01, -3.28601864e-01,
       -2.38946800e-01,  7.23884211e-01,  7.63437624e-01, -1.01617781e+00,
        2.12155854e+00,  4.61555355e-16,  5.81552327e-01])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y.values, test_size=0.2, random_state=42)

In [11]:
x = 23
X_train[x]
y_train[x]

0

In [12]:
y_train.sum()/len(y_train)

0.04574363992172211

In [13]:
type(X_train[0])

numpy.ndarray

In [14]:
tf.random.set_seed(42)
model_2 = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape =11),
    tf.keras.layers.Dense(16, activation=tf.keras.activations.relu),
    tf.keras.layers.Dense(8, activation=tf.keras.activations.relu),
    tf.keras.layers.Dense(4, activation=tf.keras.activations.relu),
    tf.keras.layers.Dense(1, activation=tf.keras.activations.sigmoid)
])
model_2.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
                loss=tf.keras.losses.binary_crossentropy,
                metrics=['accuracy'])

history = model_2.fit(X_train, y_train, epochs=10)

WARNING:tensorflow:From C:\Program Files\Python311\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

Epoch 1/10
WARNING:tensorflow:From C:\Program Files\Python311\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Program Files\Python311\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

128/128 [==============================] - 1s 1ms/step - loss: 0.1773 - accuracy: 0.9543
Epoch 2/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1556 - accuracy: 0.9543
Epoch 3/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1490 - accuracy: 0.9543
Epoch 4/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1476 - accuracy: 0.9543
Epoch 5/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1476 - accuracy: 0.9543
Epoch 6/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1473 - accuracy: 0.9543
Epoch 7/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1468 - accuracy: 0.9543
Epoch 8/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1447 - accuracy: 0.9543
Epoch 9/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1434 - accuracy: 0.9543
Epoch 10/10
128/128 [==============================] - 0s 1ms/step - loss: 0.1430 - accuracy: 0.9543

In [15]:
model_2.evaluate(X_test, y_test)

32/32 [==============================] - 0s 1ms/step - loss: 0.1979 - accuracy: 0.9393

[0.19794587790966034, 0.9393346309661865]

In [16]:
model_2.save('./models/stroke.keras')

In [17]:
# import numpy as np
# arr = [np.array([9046,'Male',67.0,0,1,'Yes',	'Private',	'Urban',	228.69,	36.6,	'formerly smoked'])]
# arr[0][[1,5,6,7,10]] = oe.transform(arr[0][[1,5,6,7,10]])
# X = oe.transform()
# arr[[1,5,6,7,10]] = ['Maleqq', 'Yes', 'Private', 'Urban', 'formerly smoked']

In [18]:
df = pd.read_csv('./data/healthcare-dataset-stroke-data.csv')
df.fillna(df.mean(numeric_only= True), inplace = True)

In [19]:
to_pred= df.iloc[[2], :11]
to_pred

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked

In [20]:
to_pred[['gender', 'ever_married','work_type', 'Residence_type', 'smoking_status']] = oe.transform(to_pred[['gender', 'ever_married','work_type', 'Residence_type', 'smoking_status']])

C:\Program Files\Python311\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but OrdinalEncoder was fitted without feature names
  warnings.warn(

In [21]:
to_pred

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2,31112,1.0,80.0,0,1,1.0,2.0,0.0,105.92,32.5,2.0

In [22]:
to_pred.loc[:, X_columns]

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2,31112,1.0,80.0,0,1,1.0,2.0,0.0,105.92,32.5,2.0

In [23]:
to_pred.loc[:, X_columns] = scaler.transform(to_pred.loc[:, X_columns])

In [24]:
to_pred

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
2,-0.255478,1.188073,1.62639,-0.328602,4.185032,0.723884,-0.153836,-1.016178,-0.005028,0.468577,0.581552

In [25]:
from tensorflow.keras.models import load_model
MStroke = load_model('./models/stroke.keras')
MStroke.predict(to_pred)

1/1 [==============================] - 0s 96ms/step

array([[0.24957721]], dtype=float32)